.plus-icon {
    @include raw-btn;

    --icon-size: 2rem;
    --line-stroke: 1px;

    margin-top: calc(var(--line-stroke) / -2);
    height: var(--icon-size);
    width: var(--icon-size);

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: transform 600ms var(--easeOut);

    &__line {
        content: "";
        position: absolute;
        background-color: rgb(var(--text-color));

        &--y {
            height: 100%;
            width: var(--line-stroke);
            left: calc(50% - var(--line-stroke));
        }

        &--x {
            height: var(--line-stroke);
            width: 100%;
            transition: transform 600ms var(--easeOut),
                opacity 600ms var(--easeOut);
        }
    }
}

.dropdown-toggle.plus-icon {
    &::after {
        display: none;
    }

    &[aria-expanded="true"] {
        transform: rotate(90deg);

        .plus-icon__line--x {
            transform: rotate(90deg);
            opacity: 0;
        }
    }
}
