.btn {
    --bs-btn-font-weight: 300;
    letter-spacing: 0.075em;
    outline: none;

    &-link {
        --link-color: var(--bs-primary-rgb);
        padding: 0;

        span {
            text-decoration: underline;
        }
    }
}

.has-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    width: max-content;
}

.collapseWrapper {
    .btn {
        &.selected {
            color: var(--bs-btn-hover-color);
            background-color: var(--bs-btn-hover-bg);
            border-color: var(--bs-btn-hover-border-color);
        }
    }
}
