.btn {
    --bs-btn-font-weight: 300;
    letter-spacing: 0.075em;
    outline: none;

    &-link {
        --link-color: var(--bs-primary-rgb);
        padding: 0;
        text-decoration: underline;

        &::after {
            font: 1em/1 'Nucleo';
            content: "\ea0c";
            text-decoration: none;
        }
    }

    &.has-icon {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        width: max-content;
    }
}
