#siteSvg {
    position: absolute;
    z-index: var(--layer--under);
    pointer-events: none;

    top: 50%;
    left: -30vh;
    height: 70vh;
    width: 70vh;

    transform: translateY(-50%);
    
    svg {
        overflow: visible;
        width: 70vh;
        height: 70vh;
    }
}

body:not(.home) {
    #siteSvg {
        display: none !important;
    }
}