#siteSvg {
    position: absolute;
    z-index: var(--layer--under);
    pointer-events: none;
    opacity: 1;

    top: 50%;
    left: -30vh;
    height: 70vh;
    width: 70vh;

    transform: translateY(-50%);
    transition: opacity 500ms var(--easeOut);
    
    svg {
        overflow: visible;
        width: 70vh;
        height: 70vh;
    }
}

body:not(.home) {
    #siteSvg {
        opacity: 0 !important;
    }
}