.listing {
    &-property {
        &__data {
            .col-auto {
                position: relative;
                &:not(:last-child)::after {
                    content: '|';
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}
.pagination {
    .current {
        font-weight: bold;
        color: var(--bs-primary);
        // color: #B1B1B1;
    }
}