.marquee {
	&__track {
		display: flex;
	}

	&__item {
		white-space: nowrap;
		line-height: 1;
		margin-bottom: 0;

		&::after {
			padding-inline-start: 0.2em;
			padding-inline-end: 0.4em;
			content: "↑";
			content: "↓";
			content: "↔";
			content: "↕";
			content: "↖";
			content: "↗";
			content: "↘";
			content: "↙";
			content: "—";
		}

		&--left-arrow::after {
			content: "←";
		}
		&--right-arrow::after {
			content: "→";
		}
	}
}
