.marquee {
	&__track {
		display: flex;
	}

	&__content {
		white-space: nowrap;
		line-height: 1;

		&::after {
			padding: 0 0.4em;
			content: "←";
			content: "↑";
			content: "↓";
			content: "↔";
			content: "↕";
			content: "↖";
			content: "↗";
			content: "↘";
			content: "↙";
			content: "—";
			content: "→";
		}
	}
}
