#siteHeader {
    position: fixed;
    z-index: var(--layer--above-bs);
    top: 0;
    width: 100%;
    will-change: transform;
    color: var(--bs-primary);
    transition: background-color var(--theme-trans);


    background-color: rgb(var(--header-color), 100%);
    backdrop-filter: blur(18px) saturate(150%);
    box-shadow: 0 0 40px rgb(0 0 0 / 5%);

    .custom-logo-link { display: inline; }
    .custom-logo-link--additional { display: none; }
    .clonelink__label { cursor: pointer; }
}
body.home:not(.threshold--surpassed) {
    #siteHeader {
        background-color: rgb(var(--bg-color), 0%);
        backdrop-filter: unset;
        box-shadow: none;
        color: var(--bs-white);
        
        .custom-logo-link { display: none; }
        .custom-logo-link--additional { display: inline; }
    }
}
