:root[data-theme="light"] {
    color-scheme: light;

    --bg-color: var(--bs-light-rgb);
    --text-color: var(--bs-dark-rgb);

    // #siteHeader {
    //     filter: invert(1);
    // }

    // .main-logo {
    // 	filter: invert(0);
    // }

    .mf-cursor {
        &::before {
            filter: invert(1);
        }

        &.-media .mf-cursor-media-box {
            filter: invert(1);
        }
    }
}
