:root[data-theme="light"] {
	color-scheme: light;

	--bg-color: var(--bs-light-rgb);
	--text-color: var(--bs-dark-rgb);

	.wsf-form {
		--field-bg-color: rgb(var(--bs-primary-rgb), 5%);
		--field-border-color: rgb(var(--bs-primary-rgb), 10%);
		--field-text-color: rgb(var(--bs-dark-rgb), 90%);
		--label-text-color: rgb(var(--bs-dark-rgb), 60%);
		--switch-color: rgb(var(--bs-dark-rgb), 10%);
		--form-accent-color: rgb(0, 0, 0);
	}

	#siteHeader {
		filter: invert(1);
	}

	// .main-logo {
	// 	filter: invert(0);
	// }

	.mf-cursor {
		&::before {
			filter: invert(1);
		}

		&.-media .mf-cursor-media-box {
			filter: invert(1);
		}
	}
}
