.gdpr-styles {
	font-size: 0.9375rem;

	h2 {
		font-size: 1.25rem;

		&:not(:first-child) {
			margin-top: 2.5rem;
		}
	}

	h4 {
		font-size: 1.5rem;

		&:not(:first-child) {
			margin-top: 3.25rem;
		}

		position: relative;
		margin-bottom: 2rem;
		padding-bottom: 1rem;

		&::after {
			content: "";
			position: absolute;
			width: 50px;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: var(--bs-dark);
		}
	}

	h2 + h4,
	ul + h4 {
		margin-top: 0rem !important;
	}

	ul {
		text-wrap: balance;
		list-style: circle;
		margin: 2rem 0;

		li:not(:last-of-type) {
			margin-bottom: 0.5rem;
		}
	}
}
