.avec-serif {
	font-family: $font-family-serif;
}

.sans-serif {
	font-family: $font-family-sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	&:last-child {
		margin-bottom: 0;
	}
}

p {
	letter-spacing: 0.05em;
}

.menu-item {
	--menu-item-fs: var(--bs-body-font-size);

	font-size: var(--menu-item-fs);
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	.plus-icon {
		--icon-size: var(--menu-item-fs);
	}
}
