.debug--enabled {
    section {
        --debug-width: 1px;
        --debug-style: solid;
        --debug-color: var(--border-color);
        border-top: var(--debug-width) var(--debug-style) var(--debug-color);
        border-bottom: var(--debug-width) var(--debug-style) var(--debug-color);
    }

    .parallax__wrapper {
        // border: 5px solid red;
    }
}